1. What are data structures, and why are they important?


Data structures are ways of organizing, storing, and managing data so that it can be used efficiently. They are important because they make it easier to access, process, and modify data. Choosing the right data structure helps optimize time and memory, making programs faster and more efficient.


2. Explain the difference between mutable and immutable data types with examples.


Mutable: Can be changed after creation. Example: Lists in Python (my_list = [1,2,3]; you can modify elements).

Immutable: Cannot be changed after creation. Example: Strings and tuples (my_string = "hello"; you cannot change a single character).


3. What are the main differences between lists and tuples in Python?


Lists: Mutable, defined with [ ], slower but flexible.

Tuples: Immutable, defined with ( ), faster and memory-efficient, used for fixed data.


4. Describe how dictionaries store data.


Dictionaries store data as key-value pairs. Keys are unique and hashed, while values can be of any type. Example: {"name": "Alice", "age": 25}. Internally, Python uses a hash table for fast lookups.


5. Why might you use a set instead of a list in Python?


A set is used when you want:

Unique elements (no duplicates).

Faster membership tests (in is faster in sets than lists).

Mathematical operations like union, intersection, difference.


6. What is a string in Python, and how is it different from a list?


A string is a sequence of characters enclosed in quotes. It is immutable, meaning you cannot change characters directly. A list, however, can hold multiple data types and is mutable.


7. How do tuples ensure data integrity in Python?


Because tuples are immutable, once created, their elements cannot be changed. This ensures the stored data remains constant and secure throughout execution.


8. What is a hash table, and how does it relate to dictionaries in Python?


A hash table is a data structure that stores data in an array-like format using hashing to map keys to indexes. Python dictionaries are implemented using hash tables, making lookups, insertions, and deletions very fast (average O(1) time).


9. Can lists contain different data types in Python?


Yes. A single list can store integers, strings, floats, and even other lists. Example: [1, "hello", 3.14, [5,6]].


10. Explain why strings are immutable in Python.


Strings are immutable to improve security, performance, and memory optimization. Since they are frequently used as keys in dictionaries, immutability ensures they don’t change unexpectedly.


11. What advantages do dictionaries offer over lists for certain tasks?


Faster lookups by key (O(1) on average).

Easier to model real-world data with key-value relationships.

No need to search the entire list for a value.


12. Describe a scenario where using a tuple would be preferable over a list.


When you need fixed data that should not be changed. Example: storing GPS coordinates (27.23, 78.02) or days of the week.


13. How do sets handle duplicate values in Python?

Sets automatically remove duplicate values. Example: {1,2,2,3} becomes {1,2,3}.


14. How does the “in” keyword work differently for lists and dictionaries?


For lists, in checks if a value exists in the list.

For dictionaries, in checks only if a key exists, not the value.


15. Can you modify the elements of a tuple? Explain why or why not.

No. Tuples are immutable, so elements cannot be modified, added, or removed once created.


16. What is a nested dictionary, and give an example of its use case.

A nested dictionary is a dictionary inside another dictionary. Example:

students = {
  "101": {"name": "Alice", "age": 20},
  "102": {"name": "Bob", "age": 22}
}


Use case: Storing structured data like student records, configurations, or JSON-like data.


17. Describe the time complexity of accessing elements in a dictionary.

Average case: O(1) (constant time).
Worst case: O(n) (when hash collisions occur).


18. In what situations are lists preferred over dictionaries?


When order matters.

When duplicate values are allowed.

When you don’t need key-value mapping.

Example: Maintaining a sequence of numbers [1,2,3,4].


19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Before Python 3.7, dictionaries did not preserve insertion order. Keys are stored based on hash values, not sequence. While order is preserved now, retrieval is still based on keys, not positions, unlike lists.


20. Explain the difference between a list and a dictionary in terms of data retrieval.


List: Retrieved by index (position). Example: my_list[0].

Dictionary: Retrieved by key. Example: my_dict["name"].

In [15]:
#Solution 1
#create a string with your name and print it
name = "Shreya omer"
print(name)

Shreya omer

In [16]:
#Solution 2
# Find the length of the string "Hello World"
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [17]:
#Solution 3
# Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
first_three = text[:3]
print("First 3 characters:", first_three)

First 3 characters: Pyt

In [7]:
#Solution 4
# Convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [18]:
#Solution 5
# Replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [9]:
#Solution 6
# Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [10]:
#Solution 7
# Append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
#Solution 8
# Remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [14]:
#Solution 9
# Access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("The second element is:", second_element)

The second element is: b

In [19]:
# Solution 10
# Reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [20]:
# Solution 11
# Create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [21]:
# Solution 12
# Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

In [22]:
# Solution 13
# Find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print("The minimum number is:", minimum_number)

The minimum number is: 5

In [23]:
# Solution 14
# Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

In [24]:
# Solution 15
# Create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
if "kiwi" in fruits:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [25]:
# Solution 16
# Create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [26]:
# Solution 17
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [27]:
# Solution 18
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [28]:
# Solution 19
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
# Alternatively, you can use the '|' operator: union_set = set1 | set2
print("The union of the two sets is:", union_set)

The union of the two sets is: {1, 2, 3, 4, 5}

In [29]:
# Solution 20
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
# Alternatively, you can use the '&' operator: intersection_set = set1 & set2
print("The intersection of the two sets is:", intersection_set)

The intersection of the two sets is: {2, 3}

In [30]:
# Solution 21
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [31]:
# Solution 22
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# Solution 23
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict["name"]
# Alternatively, you can use the get() method: name_value = my_dict.get("name")
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

In [33]:
# Solution 24
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
# Alternatively, you can use the pop() method: my_dict.pop("age")
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [34]:
# Solution 25
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [35]:
# Solution 26
# Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4]
my_tuple = ('a', 'b', 'c')
my_dict = {'key1': 'value1', 'key2': 'value2'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'key1': 'value1', 'key2': 'value2'}

In [36]:
# Solution 27
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [17, 41, 60, 70, 73]

In [37]:
# Solution 28
# Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("The element at the third index is:", my_list[3])

The element at the third index is: date

In [38]:
# Solution 29
# Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Using the update() method
combined_dict_update = dict1.copy()  # Create a copy to avoid modifying the original dict1
combined_dict_update.update(dict2)
print("Combined dictionary (using update()):", combined_dict_update)

# Using the ** operator (for Python 3.5+)
combined_dict_unpack = {**dict1, **dict2}
print("Combined dictionary (using ** operator):", combined_dict_unpack)

Combined dictionary (using update()): {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Combined dictionary (using ** operator): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
# Solution 30
# Write a code to convert a list of strings into a set
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'apple'}